<?xml version="1.0"?>
<config>
    <modules>
        <Igorludgero_Atualizapreco>
            <version>1.0.0</version>
        </Igorludgero_Atualizapreco>
    </modules>
    <global>
        <models>
            <atualizapreco>
                <class>Igorludgero_Atualizapreco_Model</class>
            </atualizapreco>
        </models>
        <events>
            <catalog_product_save_after>
                <observers>
                    <igorludgero_atualizapreco_detect_product_changes>
                        <type>singleton</type>
                        <class>atualizapreco/observer</class>
                        <method>checkPrices</method>
                    </igorludgero_atualizapreco_detect_product_changes>
                </observers>
            </catalog_product_save_after>
            <catalog_product_import_finish_before>
                <observers>
                    <igorludgero_atualizapreco_import_finish_after>
                        <type>singleton</type>
                        <class>atualizapreco/observer</class>
                        <method>checkPricesCsv</method>
                    </igorludgero_atualizapreco_import_finish_after>
                </observers>
            </catalog_product_import_finish_before>
        </events>
        <resources>
            <Igorludgero_Atualizapreco_setup>
                <setup>
                    <module>Igorludgero_Atualizapreco</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Igorludgero_Atualizapreco_setup>
            <atualizapreco_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </atualizapreco_write>
            <atualizapreco_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </atualizapreco_read>
        </resources>
        <helpers>
            <atualizapreco>
                <class>Igorludgero_Atualizapreco_Helper</class>
            </atualizapreco>
        </helpers>
    </global>
    <admin>
        <routers>
            <Igorludgero_Atualizapreco>
                <use>admin</use>
                <args>
                    <module>Igorludgero_Atualizapreco</module>
                    <frontName>atualizapreco</frontName>
                </args>
            </Igorludgero_Atualizapreco>
        </routers>
    </admin>
    <frontend>
        <routers>
            <Igorludgero_Atualizapreco>
                <use>standard</use>
                <args>
                    <module>Igorludgero_Atualizapreco</module>
                    <frontName>atualizapreco</frontName>
                </args>
            </Igorludgero_Atualizapreco>
        </routers>
    </frontend>
</config>
